bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea/.idea.ShareTracking/.idea/encodings.xml
.idea/.idea.ShareTracking/.idea/indexLayout.xml
.idea/.idea.ShareTracking/.idea/vcs.xml
